<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>.</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>..</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{1,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_GameSheet04-uhd.plist</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string></string>
			<key>spriteSize</key>
			<string>{0,0}</string>
			<key>spriteSourceSize</key>
			<string></string>
			<key>textureRect</key>
			<string>{{2,0},{0,0}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_challengeBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{0,302},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_createBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{210,302},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_creatorBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{140,140}</string>
			<key>spriteSourceSize</key>
			<string>{140,140}</string>
			<key>textureRect</key>
			<string>{{0,512},{140,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_dailyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{420,302},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_eventBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{630,302},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_featuredBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{0,653},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_freeLevelsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{133,131}</string>
			<key>spriteSourceSize</key>
			<string>{133,131}</string>
			<key>textureRect</key>
			<string>{{468,512},{133,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_fullBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{161,140}</string>
			<key>spriteSourceSize</key>
			<string>{161,140}</string>
			<key>textureRect</key>
			<string>{{602,512},{161,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_gauntletsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{210,653},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_highscoreBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{420,653},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_listsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{630,653},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_mapBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{0,863},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_mapPacksBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{210,863},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_moreGamesBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{165,140}</string>
			<key>spriteSourceSize</key>
			<string>{165,140}</string>
			<key>textureRect</key>
			<string>{{764,512},{165,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_pathsBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{420,863},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_playBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{219,219}</string>
			<key>spriteSourceSize</key>
			<string>{219,219}</string>
			<key>textureRect</key>
			<string>{{0,1073},{219,219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_safeBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{87,98}</string>
			<key>spriteSourceSize</key>
			<string>{87,98}</string>
			<key>textureRect</key>
			<string>{{159,84},{87,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_savedBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{630,863},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_searchBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{220,1073},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_versusBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{209,209}</string>
			<key>spriteSourceSize</key>
			<string>{209,209}</string>
			<key>textureRect</key>
			<string>{{430,1073},{209,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>GJ_weeklyBtn_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{208,209}</string>
			<key>spriteSourceSize</key>
			<string>{208,209}</string>
			<key>textureRect</key>
			<string>{{640,1073},{208,209}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_01_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{64,82}</string>
			<key>spriteSourceSize</key>
			<string>{64,82}</string>
			<key>textureRect</key>
			<string>{{0,1},{64,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_02_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{61,108}</string>
			<key>spriteSourceSize</key>
			<string>{61,108}</string>
			<key>textureRect</key>
			<string>{{0,84},{61,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_03_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{96,108}</string>
			<key>spriteSourceSize</key>
			<string>{96,108}</string>
			<key>textureRect</key>
			<string>{{62,84},{96,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_04_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{125,108}</string>
			<key>spriteSourceSize</key>
			<string>{125,108}</string>
			<key>textureRect</key>
			<string>{{0,193},{125,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>boost_05_shine_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{128,103}</string>
			<key>spriteSourceSize</key>
			<string>{128,103}</string>
			<key>textureRect</key>
			<string>{{126,193},{128,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_dailyCrown_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{163,117}</string>
			<key>spriteSourceSize</key>
			<string>{165,119}</string>
			<key>textureRect</key>
			<string>{{141,512},{163,117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_eventCrown_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{161,124}</string>
			<key>spriteSourceSize</key>
			<string>{161,126}</string>
			<key>textureRect</key>
			<string>{{306,512},{161,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gj_weeklyCrown_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{163,119}</string>
			<key>spriteSourceSize</key>
			<string>{165,119}</string>
			<key>textureRect</key>
			<string>{{840,302},{163,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{94,90}</string>
			<key>spriteSourceSize</key>
			<string>{141,144}</string>
			<key>textureRect</key>
			<string>{{247,84},{94,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{121,116}</string>
			<key>spriteSourceSize</key>
			<string>{141,144}</string>
			<key>textureRect</key>
			<string>{{840,653},{121,116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{126,132}</string>
			<key>spriteSourceSize</key>
			<string>{141,144}</string>
			<key>textureRect</key>
			<string>{{840,863},{126,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{128,134}</string>
			<key>spriteSourceSize</key>
			<string>{141,144}</string>
			<key>textureRect</key>
			<string>{{850,1073},{128,134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{133,136}</string>
			<key>spriteSourceSize</key>
			<string>{141,144}</string>
			<key>textureRect</key>
			<string>{{930,512},{133,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{138,141}</string>
			<key>spriteSourceSize</key>
			<string>{141,144}</string>
			<key>textureRect</key>
			<string>{{1005,302},{138,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{141,143}</string>
			<key>spriteSourceSize</key>
			<string>{141,144}</string>
			<key>textureRect</key>
			<string>{{1144,302},{141,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{141,143}</string>
			<key>spriteSourceSize</key>
			<string>{141,144}</string>
			<key>textureRect</key>
			<string>{{1286,302},{141,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playerDash2_boom2_009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{141,142}</string>
			<key>spriteSourceSize</key>
			<string>{141,144}</string>
			<key>textureRect</key>
			<string>{{1428,302},{141,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_01_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{74,143}</string>
			<key>spriteSourceSize</key>
			<string>{74,143}</string>
			<key>textureRect</key>
			<string>{{1570,302},{74,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_01_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{31,143}</string>
			<key>spriteSourceSize</key>
			<string>{31,143}</string>
			<key>textureRect</key>
			<string>{{1645,302},{31,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_02_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{86,144}</string>
			<key>spriteSourceSize</key>
			<string>{86,144}</string>
			<key>textureRect</key>
			<string>{{1677,302},{86,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_02_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{72,166}</string>
			<key>spriteSourceSize</key>
			<string>{72,166}</string>
			<key>textureRect</key>
			<string>{{1764,302},{72,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_03_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{99,144}</string>
			<key>spriteSourceSize</key>
			<string>{99,144}</string>
			<key>textureRect</key>
			<string>{{1837,302},{99,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_03_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{88,178}</string>
			<key>spriteSourceSize</key>
			<string>{88,178}</string>
			<key>textureRect</key>
			<string>{{1937,302},{88,178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_04_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{89,147}</string>
			<key>spriteSourceSize</key>
			<string>{89,150}</string>
			<key>textureRect</key>
			<string>{{962,653},{89,147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_04_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{49,173}</string>
			<key>spriteSourceSize</key>
			<string>{49,173}</string>
			<key>textureRect</key>
			<string>{{2026,302},{49,173}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_05_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{66,140}</string>
			<key>spriteSourceSize</key>
			<string>{66,140}</string>
			<key>textureRect</key>
			<string>{{1064,512},{66,140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_05_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{66,148}</string>
			<key>spriteSourceSize</key>
			<string>{66,148}</string>
			<key>textureRect</key>
			<string>{{1052,653},{66,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_06_back_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{86,144}</string>
			<key>spriteSourceSize</key>
			<string>{86,144}</string>
			<key>textureRect</key>
			<string>{{1119,653},{86,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portalshine_06_front_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{43,175}</string>
			<key>spriteSourceSize</key>
			<string>{43,175}</string>
			<key>textureRect</key>
			<string>{{1206,653},{43,175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{436,38}</string>
			<key>spriteSourceSize</key>
			<string>{442,42}</string>
			<key>textureRect</key>
			<string>{{65,1},{436,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{409,41}</string>
			<key>spriteSourceSize</key>
			<string>{442,42}</string>
			<key>textureRect</key>
			<string>{{502,1},{409,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{421,39}</string>
			<key>spriteSourceSize</key>
			<string>{442,42}</string>
			<key>textureRect</key>
			<string>{{912,1},{421,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{425,39}</string>
			<key>spriteSourceSize</key>
			<string>{442,42}</string>
			<key>textureRect</key>
			<string>{{1334,1},{425,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{427,38}</string>
			<key>spriteSourceSize</key>
			<string>{442,42}</string>
			<key>textureRect</key>
			<string>{{342,84},{427,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{427,39}</string>
			<key>spriteSourceSize</key>
			<string>{442,42}</string>
			<key>textureRect</key>
			<string>{{770,84},{427,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{431,38}</string>
			<key>spriteSourceSize</key>
			<string>{442,42}</string>
			<key>textureRect</key>
			<string>{{1198,84},{431,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spiderDash_008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{435,37}</string>
			<key>spriteSourceSize</key>
			<string>{442,42}</string>
			<key>textureRect</key>
			<string>{{1630,84},{435,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>theTowerDoor_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{232,229}</string>
			<key>spriteSourceSize</key>
			<string>{232,229}</string>
			<key>textureRect</key>
			<string>{{0,1293},{232,229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>theTowerLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{184,88}</string>
			<key>spriteSourceSize</key>
			<string>{184,88}</string>
			<key>textureRect</key>
			<string>{{255,193},{184,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GJ_GameSheet04-hd.png</string>
		<key>size</key>
		<string>{2077,1523}</string>
		<key>smartupdate</key>
		<string>$none</string>
		<key>textureFileName</key>
		<string>GJ_GameSheet04-hd.png</string>
	</dict>
</dict>
</plist>
