<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>.</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>..</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{2,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest03_small_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-1}</string>
    <key>spriteSize</key>
    <string>{122,102}</string>
    <key>spriteSourceSize</key>
    <string>{122,104}</string>
    <key>textureRect</key>
    <string>{{0,2},{122,102}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{397,321}</string>
    <key>spriteSourceSize</key>
    <string>{397,321}</string>
    <key>textureRect</key>
    <string>{{0,106},{397,321}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{385,309}</string>
    <key>spriteSourceSize</key>
    <string>{385,309}</string>
    <key>textureRect</key>
    <string>{{399,106},{385,309}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,3}</string>
    <key>spriteSize</key>
    <string>{385,316}</string>
    <key>spriteSourceSize</key>
    <string>{385,322}</string>
    <key>textureRect</key>
    <string>{{0,429},{385,316}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,14}</string>
    <key>spriteSize</key>
    <string>{303,28}</string>
    <key>spriteSourceSize</key>
    <string>{303,56}</string>
    <key>textureRect</key>
    <string>{{124,2},{303,28}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,58}</string>
    <key>spriteSize</key>
    <string>{652,134}</string>
    <key>spriteSourceSize</key>
    <string>{654,250}</string>
    <key>textureRect</key>
    <string>{{0,747},{652,134}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-132}</string>
    <key>spriteSize</key>
    <string>{590,284}</string>
    <key>spriteSourceSize</key>
    <string>{385,306}</string>
    <key>textureRect</key>
    <string>{{0,883},{590,284}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,66}</string>
    <key>spriteSize</key>
    <string>{324,196}</string>
    <key>spriteSourceSize</key>
    <string>{324,328}</string>
    <key>textureRect</key>
    <string>{{387,429},{324,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_01_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,66}</string>
    <key>spriteSize</key>
    <string>{295,150}</string>
    <key>spriteSourceSize</key>
    <string>{295,282}</string>
    <key>textureRect</key>
    <string>{{592,883},{295,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_01_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{498,402}</string>
    <key>spriteSourceSize</key>
    <string>{498,402}</string>
    <key>textureRect</key>
    <string>{{0,1169},{498,402}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{482,386}</string>
    <key>spriteSourceSize</key>
    <string>{482,388}</string>
    <key>textureRect</key>
    <string>{{500,1169},{482,386}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{482,394}</string>
    <key>spriteSourceSize</key>
    <string>{482,402}</string>
    <key>textureRect</key>
    <string>{{984,1169},{482,394}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,18}</string>
    <key>spriteSize</key>
    <string>{378,62}</string>
    <key>spriteSourceSize</key>
    <string>{378,98}</string>
    <key>textureRect</key>
    <string>{{429,2},{378,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,73}</string>
    <key>spriteSize</key>
    <string>{816,168}</string>
    <key>spriteSourceSize</key>
    <string>{818,314}</string>
    <key>textureRect</key>
    <string>{{713,429},{816,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-163}</string>
    <key>spriteSize</key>
    <string>{734,353}</string>
    <key>spriteSourceSize</key>
    <string>{482,382}</string>
    <key>textureRect</key>
    <string>{{0,1573},{734,353}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,83}</string>
    <key>spriteSize</key>
    <string>{404,244}</string>
    <key>spriteSourceSize</key>
    <string>{404,410}</string>
    <key>textureRect</key>
    <string>{{889,883},{404,244}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_02_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,82}</string>
    <key>spriteSize</key>
    <string>{368,188}</string>
    <key>spriteSourceSize</key>
    <string>{368,352}</string>
    <key>textureRect</key>
    <string>{{786,106},{368,188}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{482,386}</string>
    <key>spriteSourceSize</key>
    <string>{482,388}</string>
    <key>textureRect</key>
    <string>{{0,1928},{482,386}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{482,394}</string>
    <key>spriteSourceSize</key>
    <string>{482,402}</string>
    <key>textureRect</key>
    <string>{{1468,1169},{482,394}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,18}</string>
    <key>spriteSize</key>
    <string>{378,62}</string>
    <key>spriteSourceSize</key>
    <string>{378,98}</string>
    <key>textureRect</key>
    <string>{{809,2},{378,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,73}</string>
    <key>spriteSize</key>
    <string>{816,168}</string>
    <key>spriteSourceSize</key>
    <string>{818,314}</string>
    <key>textureRect</key>
    <string>{{1295,883},{816,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-88}</string>
    <key>spriteSize</key>
    <string>{482,206}</string>
    <key>spriteSourceSize</key>
    <string>{482,382}</string>
    <key>textureRect</key>
    <string>{{2113,883},{482,206}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,83}</string>
    <key>spriteSize</key>
    <string>{404,244}</string>
    <key>spriteSourceSize</key>
    <string>{404,410}</string>
    <key>textureRect</key>
    <string>{{2597,883},{404,244}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_03_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,82}</string>
    <key>spriteSize</key>
    <string>{368,188}</string>
    <key>spriteSourceSize</key>
    <string>{368,352}</string>
    <key>textureRect</key>
    <string>{{1531,429},{368,188}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{482,386}</string>
    <key>spriteSourceSize</key>
    <string>{482,388}</string>
    <key>textureRect</key>
    <string>{{484,1928},{482,386}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{482,394}</string>
    <key>spriteSourceSize</key>
    <string>{482,402}</string>
    <key>textureRect</key>
    <string>{{1952,1169},{482,394}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,18}</string>
    <key>spriteSize</key>
    <string>{378,62}</string>
    <key>spriteSourceSize</key>
    <string>{378,98}</string>
    <key>textureRect</key>
    <string>{{1189,2},{378,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,73}</string>
    <key>spriteSize</key>
    <string>{816,168}</string>
    <key>spriteSourceSize</key>
    <string>{818,314}</string>
    <key>textureRect</key>
    <string>{{1901,429},{816,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-88}</string>
    <key>spriteSize</key>
    <string>{482,206}</string>
    <key>spriteSourceSize</key>
    <string>{482,382}</string>
    <key>textureRect</key>
    <string>{{1156,106},{482,206}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,83}</string>
    <key>spriteSize</key>
    <string>{404,244}</string>
    <key>spriteSourceSize</key>
    <string>{404,410}</string>
    <key>textureRect</key>
    <string>{{2719,429},{404,244}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_04_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,82}</string>
    <key>spriteSize</key>
    <string>{368,188}</string>
    <key>spriteSourceSize</key>
    <string>{368,352}</string>
    <key>textureRect</key>
    <string>{{1640,106},{368,188}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_05_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{488,386}</string>
    <key>spriteSourceSize</key>
    <string>{488,388}</string>
    <key>textureRect</key>
    <string>{{968,1928},{488,386}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_05_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{482,394}</string>
    <key>spriteSourceSize</key>
    <string>{482,402}</string>
    <key>textureRect</key>
    <string>{{2436,1169},{482,394}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_05_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,18}</string>
    <key>spriteSize</key>
    <string>{378,62}</string>
    <key>spriteSourceSize</key>
    <string>{378,98}</string>
    <key>textureRect</key>
    <string>{{1569,2},{378,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_05_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,73}</string>
    <key>spriteSize</key>
    <string>{816,168}</string>
    <key>spriteSourceSize</key>
    <string>{818,314}</string>
    <key>textureRect</key>
    <string>{{2010,106},{816,168}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_05_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-88}</string>
    <key>spriteSize</key>
    <string>{482,206}</string>
    <key>spriteSourceSize</key>
    <string>{482,382}</string>
    <key>textureRect</key>
    <string>{{736,1573},{482,206}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_05_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,83}</string>
    <key>spriteSize</key>
    <string>{404,244}</string>
    <key>spriteSourceSize</key>
    <string>{404,410}</string>
    <key>textureRect</key>
    <string>{{1220,1573},{404,244}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_05_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,82}</string>
    <key>spriteSize</key>
    <string>{368,188}</string>
    <key>spriteSourceSize</key>
    <string>{368,352}</string>
    <key>textureRect</key>
    <string>{{1626,1573},{368,188}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_06_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,17}</string>
    <key>spriteSize</key>
    <string>{488,420}</string>
    <key>spriteSourceSize</key>
    <string>{488,454}</string>
    <key>textureRect</key>
    <string>{{0,2316},{488,420}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_06_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,14}</string>
    <key>spriteSize</key>
    <string>{490,414}</string>
    <key>spriteSourceSize</key>
    <string>{494,442}</string>
    <key>textureRect</key>
    <string>{{490,2316},{490,414}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_06_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{378,106}</string>
    <key>spriteSourceSize</key>
    <string>{378,110}</string>
    <key>textureRect</key>
    <string>{{654,747},{378,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_06_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,42}</string>
    <key>spriteSize</key>
    <string>{816,230}</string>
    <key>spriteSourceSize</key>
    <string>{818,314}</string>
    <key>textureRect</key>
    <string>{{1996,1573},{816,230}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_06_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-88}</string>
    <key>spriteSize</key>
    <string>{482,206}</string>
    <key>spriteSourceSize</key>
    <string>{482,382}</string>
    <key>textureRect</key>
    <string>{{1458,1928},{482,206}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_06_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,77}</string>
    <key>spriteSize</key>
    <string>{448,292}</string>
    <key>spriteSourceSize</key>
    <string>{448,446}</string>
    <key>textureRect</key>
    <string>{{1942,1928},{448,292}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_06_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,54}</string>
    <key>spriteSize</key>
    <string>{368,230}</string>
    <key>spriteSourceSize</key>
    <string>{368,338}</string>
    <key>textureRect</key>
    <string>{{2814,1573},{368,230}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_07_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,17}</string>
    <key>spriteSize</key>
    <string>{488,420}</string>
    <key>spriteSourceSize</key>
    <string>{488,454}</string>
    <key>textureRect</key>
    <string>{{982,2316},{488,420}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_07_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,14}</string>
    <key>spriteSize</key>
    <string>{490,414}</string>
    <key>spriteSourceSize</key>
    <string>{494,442}</string>
    <key>textureRect</key>
    <string>{{1472,2316},{490,414}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_07_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{378,106}</string>
    <key>spriteSourceSize</key>
    <string>{378,110}</string>
    <key>textureRect</key>
    <string>{{1034,747},{378,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_07_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,42}</string>
    <key>spriteSize</key>
    <string>{816,230}</string>
    <key>spriteSourceSize</key>
    <string>{818,314}</string>
    <key>textureRect</key>
    <string>{{1964,2316},{816,230}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_07_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-88}</string>
    <key>spriteSize</key>
    <string>{482,206}</string>
    <key>spriteSourceSize</key>
    <string>{482,382}</string>
    <key>textureRect</key>
    <string>{{2392,1928},{482,206}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_07_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,76}</string>
    <key>spriteSize</key>
    <string>{448,294}</string>
    <key>spriteSourceSize</key>
    <string>{448,446}</string>
    <key>textureRect</key>
    <string>{{0,2738},{448,294}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_07_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,49}</string>
    <key>spriteSize</key>
    <string>{368,220}</string>
    <key>spriteSourceSize</key>
    <string>{368,318}</string>
    <key>textureRect</key>
    <string>{{450,2738},{368,220}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_08_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,22}</string>
    <key>spriteSize</key>
    <string>{488,428}</string>
    <key>spriteSourceSize</key>
    <string>{488,472}</string>
    <key>textureRect</key>
    <string>{{0,3034},{488,428}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_08_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-2,19}</string>
    <key>spriteSize</key>
    <string>{490,424}</string>
    <key>spriteSourceSize</key>
    <string>{494,462}</string>
    <key>textureRect</key>
    <string>{{490,3034},{490,424}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_08_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-2}</string>
    <key>spriteSize</key>
    <string>{378,106}</string>
    <key>spriteSourceSize</key>
    <string>{378,110}</string>
    <key>textureRect</key>
    <string>{{1414,747},{378,106}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_08_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{1,42}</string>
    <key>spriteSize</key>
    <string>{816,230}</string>
    <key>spriteSourceSize</key>
    <string>{818,314}</string>
    <key>textureRect</key>
    <string>{{820,2738},{816,230}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_08_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-88}</string>
    <key>spriteSize</key>
    <string>{482,206}</string>
    <key>spriteSourceSize</key>
    <string>{482,382}</string>
    <key>textureRect</key>
    <string>{{1638,2738},{482,206}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_08_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,72}</string>
    <key>spriteSize</key>
    <string>{448,302}</string>
    <key>spriteSourceSize</key>
    <string>{448,446}</string>
    <key>textureRect</key>
    <string>{{982,3034},{448,302}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_08_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,52}</string>
    <key>spriteSize</key>
    <string>{368,226}</string>
    <key>spriteSourceSize</key>
    <string>{368,330}</string>
    <key>textureRect</key>
    <string>{{2122,2738},{368,226}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_09_02_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,1}</string>
    <key>spriteSize</key>
    <string>{488,386}</string>
    <key>spriteSourceSize</key>
    <string>{488,388}</string>
    <key>textureRect</key>
    <string>{{1432,3034},{488,386}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_09_03_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,4}</string>
    <key>spriteSize</key>
    <string>{482,394}</string>
    <key>spriteSourceSize</key>
    <string>{482,402}</string>
    <key>textureRect</key>
    <string>{{1922,3034},{482,394}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_09_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,18}</string>
    <key>spriteSize</key>
    <string>{378,62}</string>
    <key>spriteSourceSize</key>
    <string>{378,98}</string>
    <key>textureRect</key>
    <string>{{1949,2},{378,62}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_09_03_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,70}</string>
    <key>spriteSize</key>
    <string>{818,174}</string>
    <key>spriteSourceSize</key>
    <string>{818,314}</string>
    <key>textureRect</key>
    <string>{{0,3464},{818,174}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_09_04_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-88}</string>
    <key>spriteSize</key>
    <string>{482,206}</string>
    <key>spriteSourceSize</key>
    <string>{482,382}</string>
    <key>textureRect</key>
    <string>{{2492,2738},{482,206}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_09_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,83}</string>
    <key>spriteSize</key>
    <string>{404,244}</string>
    <key>spriteSourceSize</key>
    <string>{404,410}</string>
    <key>textureRect</key>
    <string>{{2782,2316},{404,244}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_09_04_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,82}</string>
    <key>spriteSize</key>
    <string>{368,188}</string>
    <key>spriteSourceSize</key>
    <string>{368,352}</string>
    <key>textureRect</key>
    <string>{{2406,3034},{368,188}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_glow_bg_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-265,-35}</string>
    <key>spriteSize</key>
    <string>{204,94}</string>
    <key>spriteSourceSize</key>
    <string>{734,164}</string>
    <key>textureRect</key>
    <string>{{2329,2},{204,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>chest_shadow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{478,72}</string>
    <key>spriteSourceSize</key>
    <string>{478,72}</string>
    <key>textureRect</key>
    <string>{{2535,2},{478,72}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>getOrbsLabel_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,-7}</string>
    <key>spriteSize</key>
    <string>{222,150}</string>
    <key>spriteSourceSize</key>
    <string>{222,164}</string>
    <key>textureRect</key>
    <string>{{820,3464},{222,150}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_videoRewardBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-1,0}</string>
    <key>spriteSize</key>
    <string>{378,290}</string>
    <key>spriteSourceSize</key>
    <string>{380,290}</string>
    <key>textureRect</key>
    <string>{{2776,3034},{378,290}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>plushies_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{8,3}</string>
    <key>spriteSize</key>
    <string>{372,208}</string>
    <key>spriteSourceSize</key>
    <string>{392,218}</string>
    <key>textureRect</key>
    <string>{{0,3640},{372,208}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopRope2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-99}</string>
    <key>spriteSize</key>
    <string>{188,266}</string>
    <key>spriteSourceSize</key>
    <string>{196,464}</string>
    <key>textureRect</key>
    <string>{{2976,2738},{188,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopRope2_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{54,84}</string>
    <key>spriteSourceSize</key>
    <string>{64,84}</string>
    <key>textureRect</key>
    <string>{{3015,2},{54,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopRope3_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,-99}</string>
    <key>spriteSize</key>
    <string>{170,266}</string>
    <key>spriteSourceSize</key>
    <string>{180,464}</string>
    <key>textureRect</key>
    <string>{{3003,883},{170,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopRope3_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{54,84}</string>
    <key>spriteSourceSize</key>
    <string>{64,84}</string>
    <key>textureRect</key>
    <string>{{3071,2},{54,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopRope4_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{4,-99}</string>
    <key>spriteSize</key>
    <string>{168,266}</string>
    <key>spriteSourceSize</key>
    <string>{176,464}</string>
    <key>textureRect</key>
    <string>{{2828,106},{168,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopRope4_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{54,84}</string>
    <key>spriteSourceSize</key>
    <string>{64,84}</string>
    <key>textureRect</key>
    <string>{{3127,2},{54,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopRope5_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{9,-99}</string>
    <key>spriteSize</key>
    <string>{186,266}</string>
    <key>spriteSourceSize</key>
    <string>{204,464}</string>
    <key>textureRect</key>
    <string>{{2998,106},{186,266}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>shopRope5_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{5,0}</string>
    <key>spriteSize</key>
    <string>{54,84}</string>
    <key>spriteSourceSize</key>
    <string>{64,84}</string>
    <key>textureRect</key>
    <string>{{1794,747},{54,84}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>pixelFormat</key>
   <string>RGBA4444</string>
   <key>premultiplyAlpha</key>
   <false/>
   <key>realTextureFileName</key>
   <string>GJ_ShopSheet-uhd.png</string>
   <key>size</key>
   <string>{3188,3850}</string>
   <key>smartupdate</key>
   <string>$none</string>
   <key>textureFileName</key>
   <string>GJ_ShopSheet-uhd.png</string>
  </dict>
 </dict>
</plist>
